.playground {
  width: 1024px;
  height: 768px;
  border: 1px solid black;
}

.professions {
  position: relative;
}
.description {
  width: 100px;
  height: 200px;
  top: 200px;
  left: 200px;
  position: absolute;
}
.profession {
  position: absolute;
  width: 98px;
  border: 1px solid black;
  height: 198px;
  background: #eaeaea;
  top: 0;
}